:root {
  /* fonts */
  --fonts-main: "Roboto", sans-serif;
  --fonts-logo: "Raleway", sans-serif;
  /* text colors */
  --text-main-cl: #212121;
  --text-second-cl: #757575;
  --text-accent-cl: #2196f3;
  --text-white-cl: #ffffff;
  --text-nav-cl: #000000;
  --footer-mail-phone-cl: rgba(255, 255, 255, 0.6);
  --btn-hover: #188ce8;
  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /* others */
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-socials-bg: rgba(255, 255, 255, 0.1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-modal: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-bg: rgba(33, 150, 243, 0.9);
}

body {
  font-family: var(--fonts-main);
  color: var(--text-main-cl);
}

.main {
  margin-top: 80px;
}

/* reser styles */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* base style */
.no-scroll {
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  min-width: 200px;
  min-height: 50px;
  padding: 6px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: var(--text-accent-cl);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--text-white-cl);

  transition: background-color var(--animation);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.uppertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.card-set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--text-white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--animation-modal), opacity var(--animation-modal);
}

.backdrop.is-hidden .modal-window {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--text-white-cl);
  cursor: pointer;

  transition: color var(--animation-modal);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--text-accent-cl);
}

.close-btn__icon {
  fill: currentColor;
}

.form {
  margin: 40px;
}

.form__title {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-cl);

  margin-bottom: 12px;
}

.form__group-warp {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 4px;

  position: relative;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-second-cl);
}

/* .form-group:focus-within {
  fill: var(--text-accent-cl);
} */

.form__imput {
  display: block;
  height: 40px;
  width: 100%;
  padding: 11px 41px;

  color: var(--text-main-cl);
  border: 1px solid hsla(0, 0%, 13%, 0.2);
  border-radius: 4px;

  outline: none;
  transition: border var(--animation);
}

.form__imput:focus {
  border: 1px solid var(--text-accent-cl);
}

.form__textarea:focus::placeholder {
  color: var(--text-accent-cl);
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  transition: color var(--animation);
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill var(--animation);
}

.form__imput:focus + .form__icon {
  fill: var(--text-accent-cl);
}

.checkbox {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  cursor: pointer;
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--pending {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--success {
  opacity: 1;
}

.checkbox__icon {
  margin-right: 7px;
}

.checkbox__icon--pending {
  transition: opacity var(--animation);
}

.checkbox__icon--success {
  opacity: 0;
  transition: opacity var(--animation);
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-second-cl);
}

.checkbox__link {
  display: inline-block;
  color: var(--text-accent-cl);
  /* text-underline-position: under; */
  position: relative;
}

.checkbox__link::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--text-accent-cl);
  position: absolute;
  bottom: 5px;
}

.btn-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;

  background-color: var(--text-white-cl);

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);

  transition: background-color var(--animation-modal),
    backdrop-filter var(--animation-modal);
}

.header.no-transparency {
  border-bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: var(--fonts-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--text-nav-cl);
  margin-right: 93px;
}

.logo__left-side {
  color: var(--text-accent-cl);
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  display: block;
  color: var(--text-nav-cl);
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color var(--animation);
}

.header__link:focus,
.header__link:hover,
.header__link--current {
  color: var(--text-accent-cl);
}

.header__link--current {
  position: relative;
}

.header__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--text-accent-cl);
}

.header__link--contacts {
  display: flex;
  align-items: center;
  color: var(--text-second-cl);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__mail {
  margin-right: 50px;
}

/* PAGE STUDIA */

/* section hero  */

.hero {
  min-height: 600px;
  max-width: 1600px;
  /* outline: 1px solid red; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark-bg-cl);
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-cl);
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn__hero {
  display: block;
  margin: 0 auto;
}

/* section features */

.feature__item {
  flex-basis: 270px;
}

.feature__item::before {
  display: block;
  content: "";
  height: 120px;
  /* outline: 1px solid red; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__item:nth-child(1)::before {
  background-image: url(../images/icons/antenna.svg);
}

.feature__item:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}

.feature__item:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}

.feature__item:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}

.feature__title {
  margin-bottom: 10px;
}

.feature__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-second-cl);
}

/* About */

.about {
  padding-top: 0;
}

.about__item {
  position: relative;
}

.about_uppertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white-cl);

  text-align: center;
  padding: 27px 5px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Our team */

.team {
  background-color: var(--light-bg-cl);
}

.team__item {
  background-color: var(--text-white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  /* outline: 1px solid red; */
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}

.team__post {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--text-second-cl);
  text-align: center;
  margin-bottom: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--text-white-cl);
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--animation), background-color var(--animation);
}

.social__link--dark {
  background-color: var(--footer-socials-bg);
  color: var(--text-white-cl);
}

.social__link:hover,
.social__link:focus {
  color: var(--text-white-cl);
  background-color: var(--text-accent-cl);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__icon {
  fill: currentColor;
}

/* Clients section */

.clients__list {
  justify-content: center;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--animation), border var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--text-accent-cl);
  color: var(--text-accent-cl);
}

.clients__icon {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;

  color: var(--text-white-cl);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.contacts__address {
  color: var(--text-white-cl);
}

.contacts__link {
  color: var(--footer-mail-phone-cl);
  transition: color var(--animation);
}

.contacts__link:focus,
.contacts__link:hover {
  color: var(--text-white-cl);
}

.footer__uppertitle {
  color: var(--text-white-cl);
  margin-bottom: 20px;
}

.footer__social {
  margin-left: 70px;
  margin-right: 93px;
}

/* Footer form */

.form-footer__uppertitle {
  display: block;
}

.form-footer__label {
  display: inline-flex;
  align-items: center;
}

.form-footer__imput {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;
  outline: none;

  transition: border var(--animation-modal);
}
.form-footer__imput:focus,
.form-footer__imput:not(:placeholder-shown) {
  color: var(--text-white-cl);
  border: 1px solid var(--text-white-cl);
}

.form-footer__imput::placeholder {
  color: var(--footer-mail-phone-cl);
  transition: transform var(--animation);
}

.form-footer__imput:focus::placeholder {
  transform: translateX(280px);
}

.form-footer__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* PAGE PORTFOLIO */
.portfolio__filter {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-filter {
  font-family: inherit;
  color: inherit;
  background-color: var(--light-bg-cl);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation), border-radius var(--animation);
}

.btn-filter--activ,
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--text-accent-cl);
  color: var(--text-white-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.products__link {
  position: relative;
  display: block;
  transition: box-shadow var(--animation);
  overflow: hidden;
}

.products__link:hover,
.products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 294px;
  padding: 63px 24px;

  background-color: var(--overlay-bg);
  backdrop-filter: blur(1px);

  transition: transform var(--animation);
}

.products__link:hover .products__overlay,
.products__link:focus .products__overlay {
  transform: translate(0);
}

.products__desc {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--text-white-cl);
}

.products__wrapper {
  position: relative;
  z-index: 10;
  padding: 20px 24px;
  background-color: var(--text-white-cl);
  border: 1px solid var(--border-color);
  border-top: none;
}

.products__name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.products__direction {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-second-cl);
}
